body {
  font-family: 'Poppins', sans-serif;
  background-color: #f8fafc;
  color: #1e293b;
}

/* Animasi Transisi Halaman Nuxt */
.page-enter-active,
.page-leave-active {
  transition: all 0.4s ease-out;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(8px); /* Efek blur biar mewah */
  transform: translateY(10px); /* Sedikit geser ke bawah */
}